{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card">


        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>   

                {{task.title_task|upper}}
    
            </strong>
    
            <hr> 

            <p> <strong> ID: </strong> {{task.id}} </p>

            <p> <strong> Description: </strong> {{task.description_task}} </p>


        </div>


    </div>

    <br>

    <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'update-task' task.id %}" class="btn btn-info"> Update task &nbsp; <i class="fa fa-plus" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'delete-task' task.id %}" class="btn btn-danger"> Delete &nbsp;<i class="fa fa-minus-square" aria-hidden="true"></i> </a>


{% endblock %}